<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Leaders03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE738B8D1EA32FFB00947BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE738BA11EA32FFC00947BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE738BAC1EA32FFC00947BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
